<section>
  <h2>HttpClient</h2>

  <p>Pour faire des requêtes avec Angular, on utilise la librairie HttpClient.</p>
  <p><b>Attention</b> : il faut importer le module <i>HttpClientModule</i> dans <i>app.module</i> pour y avoir accès.</p>

  <p>Elle nous fournit des méthodes get, post, put, patch, delete,... pour faire des requête vers une API.</p>
  <p>Les requêtes nous retourne des Observable qui contiennent la donnée, auxquels il faut souscrire.</p>
  <p>Ces observables ne renvoient qu'une valeur ( 1 seul next ), puis se termine ( complete ).</p>
  <p>La souscription se résilie donc automatiquement.</p>

</section>
