<nav>
  <ul>
    <li>
      <a routerLink="/presentation">Présentation</a>
    </li>
    <li>
      <a routerLink="/directives">Directives</a>
    </li>
    <li>
      <a routerLink="/com">Communication</a>
    </li>
    <li>
      <a routerLink="/2way-binding">Two Way Binding</a>
    </li>
    <li>
      <a routerLink="/forms">Formulaires</a>
    </li>
    <li>
      <a routerLink="/pipes">Pipes</a>
    </li>
    <li>
      <a routerLink="/services">Services</a>
    </li>
    <li>
      <a routerLink="/rxjs">RxJS</a>
    </li>
    <li *ngIf="!(is_logged$ | async); else profile">
      <a routerLink="/auth">Login</a>
    </li>
    <ng-template #profile>
      <li>
        <a routerLink="/auth/profile">Profil</a>
      </li>
      <li *ngIf="panier$">Panier : {{panier$ | async}} <span *ngIf="show_animation">⭐</span> </li>
      <li>
        <button (click)="logout()">Logout</button>
      </li>
    </ng-template>
  </ul>
</nav>
